.btn {
  display: block;
  background-color: $accent-color;
  border-radius: 50px;
  width: 288px;
  height: 60px;
  border: none;
  color: $white-color;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;

  @include mq(tab) {
    width: 280px;
    height: 70px;
    font-size: 2.9rem;
  }
}
